In [6]:
num_1=1
print(num_1)
print(bool(num_1))
num_2=0
print(num_2)
print(bool(num_2))

1
True
0
False

In [8]:
num_1=int(input("enter numnber"))
num_2=int(input("enetr number"))
print(num_1)
print(num_2)

enter numnber 1
enetr number 2

1
2

In [8]:
num_1=float(input("enter first number"))
num_2=float(input("enter second number"))
#Asking user to use the operation
print("choose an operation")
print("1.Addition")
print("2.subtarction")
print("3.multiplication")
print("4.division")
print("5.exponent")
operation=input("enter the number to perform operation")
if operation=='1':
    result=num_1+num_2
    print(result)
elif operation=='2':
    result=num_1-num_2
    print(result)
elif operation=='3':
    result=num_1*num_2
    print(result)
elif operation=='4':
    result=num_1/num_2
    print(result)
elif operation=='5':
    exponent=float(input("enter number"))
    result_1=num_1**exponent
    result_2=num_2**exponent
    print(result_1)
    print(result_2)
else:
    print("invalid input")

enter first number 22
enter second number 22

choose an operation
1.Addition
2.subtarction
3.multiplication
4.division
5.exponent

enter the number to perform operation 6

invalid input

In [6]:
name="taqi"
print(len(name))# len for length
print(name[2])

4
q

In [7]:
name="taqi"
for i in name:
    print("hello")

hello
hello
hello
hello

In [8]:
name="T a q i"
print(len(name)) #space is also a character

7

In [10]:
name="taqi"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4]) #string length is 4

t
a
q
i

IndexError: string index out of range

In [1]:
#positive slicing( left to right)
name="Mango"
print(name[2:4])
print(name[2:5])
print(name[0:4])#by dafult start from zero
print(name[:4])# must be end but end-1 in positive slicing [S:E]
print(name[1:5])
print(name[0:])#bydafult ends at last element
print(name[:])#by dafult from start to end

ng
ngo
Mang
Mang
ango
Mango
Mango

In [17]:
#negative slicing ( right to left ) start from -1
name="Mangoes"
print(name[:-1])
print(name[-5:-1])

Mangoe
ngoe

nam="Muhammad"
print(nam[-6:-1])

In [19]:
string = "muhammad"

print(string[-6:-1])

hamma

In [22]:
name = "Muhammad"
print(name[-6:-1])

hamma

In [30]:
input="Muhammad"
print(input[-6:0])

In [28]:
name="muhammad"
print(name.upper())# alla character will be capital

MUHAMMAD

In [29]:
name="MUHAMMAD"
print(name.lower()) # all character will be small case

muhammad

In [31]:
a="  Muhammad  "
print(a.strip())# remove space

Muhammad

In [35]:
name_1 ="Muhammad!!!!"
print(name_1.rstrip("!"))#delete last/trailing character

Muhammad

In [40]:
name_1="syed taqi"
print(name_1.replace("syed taqi","taqi syed"))# replacing text
print(name_1.split(" "))#spliting string
print(name_1.capitalize())
a=name_1.split(" ")
print(type(a))

taqi syed
['syed', 'taqi']
Syed taqi
<class 'list'>

In [76]:
input= "thisisacar123"
a="  "
print(input.find("is"))#find index 
print(input.isalnum())#check if string contain only alphanumeric cahracter
print(input.isalpha())#check if string contain only alphates
print(input.islower())# check if all character in a string are lowercase
print(input.isprintable())# check string is printable
print(a.isspace())# check only white space
print(input.istitle())# check string contain title
print(input.title())#covert string into title
print(input.startswith("is"))# check a string start with specfic prefix
print(input.swapcase())# swap the case of characters in a string

2
True
False
True
True
True
False
Thisisacar123
False
THISISACAR123

In [33]:
num="4"
num_1="5"
name_2=int(num)+int(num_1)
print(name_2)

9

In [28]:
import datetime
time=datetime.datetime.now()
currenttime=int(time.strftime("%H"))
if currenttime>=6 and currenttime<12:
    print("Good morning")
elif currenttime>=12 and currenttime<15:
    print("good Afternoon")
elif currrenttime>=15 and  currenttime<18:
    print("good evening")
elif currenttime>=18 and currentime<12:
    print("good night")
else:
    print("invalid")

Good morning

In [29]:
import datetime
time=datetime.datetime.now()
currenttime=int(time.strftime("%H"))
if currenttime>=6 and currenttime<12:
    print("Good morning")
elif currenttime>=12 and currenttime<15:
    print("good Afternoon")
elif currrenttime>=15 and  currenttime<18:
    print("good evening")
elif currenttime>=18 and currentime<12:
    print("good night")
else:
    print("invalid")

Good morning

In [46]:
for i in range(1,101,1):
    print(i,end=" ")
    if(i==50):
       break
       print("Misssion passed")
print("\nThankyou")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
Thankyou

In [47]:
for i in [2,3,7,6,4,8,10]:
    if(i%2==0):
        continue
    print(i)

3
7

In [48]:
for i in [2,3,7,6,4,8,10]:
    if(i%2!=0):
        continue
    print(i)

2
6
4
8
10

In [53]:
i=0
while True:
         print(i)
         i=i+1
         if(i%1000==42):
             break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41

In [55]:
a=[1,2,4.5,True,"saad",complex(4,5)]
print(a)
print(a[4])

[1, 2, 4.5, True, 'saad', (4+5j)]
saad

In [62]:
L=[1,2,3,["A","B","C"],True]
print(L)
print(type(L))
print(L[2:6])

[1, 2, 3, ['A', 'B', 'C'], True]
<class 'list'>
[3, ['A', 'B', 'C'], True]

In [65]:
A=[1,2,2.5,"A",3,"Saad",True,complex(4,5)]
print(A[2:6])

[2.5, 'A', 3, 'Saad']

In [25]:
L1=[1,2,4,5,3,2]
L2=[1,2,4,3,2,4]
for i in range(6):
  L3=L1[i]+L2[i]
  print(L3)

2
4
8
8
5
6

In [4]:
A=[1,2,3,4]
print(A)
print(A[3])

[1, 2, 3, 4]
4

In [12]:
B=[1,2,3,"A",complex(3,4),True,False]
print(B)
print(B[3:5])

[1, 2, 3, 'A', (3+4j), True, False]
['A', (3+4j)]

In [17]:
C=[1,2,3,4,5,6,7,8,3,4,5]
print(C)
print(C[-8:-2])

[1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 5]
[4, 5, 6, 7, 8, 3]

In [21]:
colors=["Red","yellow","Y","blue"]
if "Y" in colors:
    print("It is present in list")
else:
    print("it is not present in list")

It is present in list

In [26]:
colors=[6,"Red","G","B","y"]
if"6" in colors:
    print("6 is present")
else:
    print("6 is not present in the list")#6 in the form of string but in list 6 is present in the form of integer

6 is not present in the list

In [1]:
Animals=["Dog","cat","elephant","Camel","Cow","Crow"]
print(Animals[2:6])
print(Animals[-5:-1])
print(Animals[0:5:2])
print(Animals[0])

['elephant', 'Camel', 'Cow', 'Crow']
['cat', 'elephant', 'Camel', 'Cow']
['Dog', 'elephant', 'Cow']
Dog

list=[i*i for i in range(4)]
print(list)

In [33]:
list=[i**i for i in range(4)]
print(list)

[1, 1, 4, 27]

In [42]:
list=[i for i in range(20) if i%2==0]
print(list[1:20])

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
list=[i+2 for i in range(20) if i%2==0]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
list=[i+1 for i in range(51) if i%2==0]
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51]

In [49]:
names=["oleh","Mohammad","Allah","Ahmad"]
namesWith_o=[item for item in names if len(item)>4]
print(namesWith_o)

['Mohammad', 'Allah', 'Ahmad']

In [51]:
names=["oleh","Mohammad","Allah","Ahmad"]
namesWith_o=[item for item in names if'o'in item]
print(namesWith_o)

['oleh', 'Mohammad']

In [54]:
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [60]:
tuple=(1,3,5,4,5)
tuple_1=(1,2,3,4,4.5,"A")
print(tuple)
print(tuple_1)
print(type(tuple_1))

(1, 3, 5, 4, 5)
(1, 2, 3, 4, 4.5, 'A')
<class 'tuple'>

In [1]:
tuple=(1,2,34,"A")
tuple[3]="B"
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [63]:
list=[1,2,35,"C"]
list[3]="Z"
print(list)
tuple=(1,2,34,"A")
tuple[3]="B"
print(tuple)

[1, 2, 35, 'Z']

TypeError: 'tuple' object does not support item assignment

In [69]:
L1=(1,2,4,5,3,2)
L2=(1,2,4,3,2,4)
for i in range(6):
  L3=L1[i]+L2[i]
  print(L3)
  L3=L1[i]-L2[i]
  print(L3)

2
0
4
0
8
0
8
2
5
1
6
-2

In [96]:
A=tuple(i for i in range(20) if i%2==0)
print(type(A))

TypeError: 'generator' object is not callable

In [87]:
A=tuple(int(input("enter your tuple"))
B=tuple(int(input("enter your tuple"))
for i in range(5):
 C=A[i]+B[i]
 print(C)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (400747248.py, line 1)

In [92]:
final_list =[] 
line_1 = input("Enter the list of tuples:\n")
line_2= input("enter the list of tuble:\n")
while(line != ''): 
	final_list.append(tuple(line.split())) 
	line = input()
print(final_list)

Enter the list of tuples:
 1,2,3,4,5
eneter the list of tuble:
 1,2,3,4,5

TypeError: 'generator' object is not callable

In [34]:
tuple1_input=''
tuple1_input = input("Enter elements for the first tuple separated by spaces")
tuple1 = tuple(tuple1_input)
print("First tuple:", tuple1)
tuple2_input = input("Enter elements for the second tuple separated by spaces")
tuple2 = tuple(tuple2_input)
print("Second tuple:", tuple2)
for i in range(5):
 result_tuple = tuple1[i] + tuple2[i]
 print("Resulting tuple after addition:", result_tuple)

Enter elements for the first tuple separated by spaces 1 2 3 4 5

TypeError: 'str' object is not callable

In [20]:
gen=(i+2 for i in range(20) if i%2==0)
print(gen)
for value in gen:
    print(value)

<generator object <genexpr> at 0x0000026F8165EF60>
2
4
6
8
10
12
14
16
18
20

In [23]:
gen=(i for i in range(21) if i%2!=0)
print(gen)
for value in gen:
    print(value)

<generator object <genexpr> at 0x0000026F8165E8E0>
1
3
5
7
9
11
13
15
17
19

In [33]:
emptytuple_1=()
print(emptytuple_1)

()

In [37]:
#tuple of string type
tuple=("tuple","set","cat","c++","python","java",1,2,3,True,False)
for i in tuple:
    print(i)
print(tuple)

tuple
set
cat
c++
python
java
1
2
3
True
False
('tuple', 'set', 'cat', 'c++', 'python', 'java', 1, 2, 3, True, False)

In [41]:
tuple=("tuple","set","cat","c++","python","java",1,2,3,True,False)
print("cat in tuple")
match"Cat":
 case"Cat":
  print("yes it is present")
 case _:
  print("not present")

cat in tuple
yes it is present

In [42]:
tuple=(1)
print(tuple)

1

In [47]:
list=[1,2,3,4,5]
a=(len(list))
print(a)
set={1,2,3,4,5}
b=(len(set))
print(b)
tuple=(1,2,3,4,5)
c=(len(tuple))
print(c)
d=a+b+c
print(d)

5
5
5
15

In [44]:
list=[1,2,3,(4,5,6),7,8]
list[3]="name"
print(list)

[1, 2, 3, 'name', 7, 8]

In [46]:
tuple=(1,2,3,[3,4,5],3,4,{1,2},2)
print(tuple)

(1, 2, 3, [3, 4, 5], 3, 4, {1, 2}, 2)

In [51]:
import math
a=float(input("Enter the first value:"))
b=float(input("Enter the second value:"))
GM= math.sqrt(a*b)
AM=(a+b)/2
HM=(2*a*b)/(a+b)
print("The GM of the value is:",GM)
print("The AM of the value is:",AM)
print("The HM of the value is:",HM)

Enter the first value: 11
Enter the second value: 11

The GM of the value is: 11.0
The AM of the value is: 11.0
The HM of the value is: 11.0

In [54]:
def greet(name):
    print("hello",name,"!")
greet("maaz sahkir")
greet("sanaullah")
greet(345)

hello maaz sahkir !
hello sanaullah !
hello 345 !

In [62]:
def add(a,b):
   return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def Div(a,b):
    return a/b
def exponent(a):
    return a*a
A=int(input("enter value"))
B=int(input("enter value"))
result_1=add(A,B)
print(result_1)
result_2=sub(A,B)
print(result_2)
result_3=mul(A,B)
print(result_3)
result_4=exponent(A)
print(result_4)
result_5=Div(A,B)
print(result_5)

enter value 12
enter value 15

27
-3
180
144
0.8

In [65]:
def add(a,b):
    return a+b
a= int(input("enter the first value:"))
b=int(input("enter the second value:"))
result=add(a,b)
print(result)

enter the first value: 2
enter the second value: 2

4

In [79]:
import math 
def add():
    while True:
        user_input = input("Enter a value (or 'quit' to exit): ")
    if user_input.lower() == 'quit':
    break
    # Process the input here (e.g., store in a list, perform some operation)
        print(f"You entered: {user_input}")

    
        return sum(user_input)

IndentationError: expected an indented block after 'if' statement on line 5 (3776782203.py, line 6)

In [98]:
def convertor(m):
    return mile
km=float(input("enter distance in kilometer"))
mile=km*0.6213
result=convertor(km)
print(result)

enter distance in kilometer 15

9.3195

In [115]:
def conversion_km_to_miles(km):
        return km*0.621
con = input("enter choice k for km and m for miles")
if con == "k":
    km = float(input("Enter the distance in km:"))
    print(conversion(km))
elif input==2:
    print=conversion()
else:
    print=("invalid input")

TypeError: 'int' object is not callable

In [116]:
def km_to_miles(km):
    # Conversion factor from kilometers to miles
    miles = km * 0.621371
    return miles

def miles_to_km(miles):
    # Conversion factor from miles to kilometers
    km = miles / 0.621371
    return km
choice = int(input("Enter your choice:\n1. Convert kilometers to miles\n2. Convert miles to kilometers\n3. Exit\n"))

if choice == 1:
                km = float(input("Enter distance in kilometers: "))
                miles = km_to_miles(km)
                print(f"{km} kilometers is equal to {miles} miles.\n")
elif choice == 2:
                miles = float(input("Enter distance in miles: "))
                km = miles_to_km(miles)
                print(f"{miles} miles is equal to {km} kilometers.\n")
else:
                print("Invalid choice. Please enter 1, 2, or 3.\n")

TypeError: 'int' object is not callable

In [5]:
A={ }
print(type(A))
print(A)

<class 'dict'>
{}

In [6]:
set={}
print(type(set))
print(set)

<class 'dict'>
{}

In [28]:
car={"name" : "skoda",
     "model": "suzuki" ,
     "year" : 2024 }
car["model"]="toyota"
car["milage"]="4000km"
car.pop("milage")
print(car)
print(len(car))

{'name': 'skoda', 'model': 'toyota', 'year': 2024}
3

In [31]:
details = dict(name="Rizwan", year = 1996, trainer = "AI")
print(details)
print(type(details))

{'name': 'Rizwan', 'year': 1996, 'trainer': 'AI'}
<class 'dict'>

In [32]:
thisdict={"brand": "Ford","model":"Mustang","year":"2023"}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': '2023'}

In [36]:
dict1={"name": "Ali", "class": "5th", "age": "25"}
dict2={"fathername": "hassan", "occupation": "business", "number": "0331996"}
dict1.update(dict2)
dict1

{'name': 'Ali',
 'class': '5th',
 'age': '25',
 'fathername': 'hassan',
 'occupation': 'business',
 'number': '0331996'}

In [43]:
dict1={"name": "Ali", "class": "5th", "age": "25"}
dict1["fname"]= "hassan"
print(dict1)

{'name': 'Ali', 'class': '5th', 'age': '25', 'fname': 'hassan'}

In [50]:
def greet(name):
    greeting_message = f"Hello, {name}! Welcome to Python programming!"
    print(greeting_message)
greet("Alice")

Hello, Alice! Welcome to Python programming!

In [48]:
import math
print(math.pi)

3.141592653589793

In [54]:
import math
def calculate_area(radius):
    area=math.pi * radius **2
    return area
    print(area)
a=float(input("enter area"))
Area=calculate_area(a)
print(Area)

enter area 33

3421.194399759285

In [56]:
my_tuple=(3,1,4,1,5,9)
print(sorted(my_tuple)) # arranging decending order

[1, 1, 3, 4, 5, 9]

In [57]:
my_number=-5
print(abs(my_number)) # absoulte number

5

In [2]:
#dafult arguments example
def name(fname,mname="Muhammad",Lname="Rizwan"):
    print("Welcome to my website:", fname,mname, Lname)
name("khan")

Welcome to my website: khan Muhammad Rizwan

In [3]:
def avg(a=4,b=6):
    print("Average:",(a+b)/2)
avg(b=8)

Average: 6.0

In [8]:
#overwriting
def avg(a=4,b=6,c=4):
    print("Average:",(a+b+c)/3)
avg(3,4,6)

Average: 4.333333333333333

In [9]:
#ketword Arguments example
#if order doesn't matter
def poffice(lname,mname,fname):
    print("Registered:", lname,mname,fname)
poffice(lname="khan", mname="rizwan", fname="Muhammad")

Registered: khan rizwan Muhammad

In [11]:
def avg(a,b,c):
    print("Average:", (a+b+c)/3)
avg(c=3,b=5,a=2)

Average: 3.3333333333333335

In [14]:
# required arguments
def avg(a,b):
    print("Average:", (a+b)/2)
a=int(input("enter first value"))
b=int(input("enter 2nd value"))
avg(a,b)

enter first value 2
enter 2nd value 2

Average: 2.0

In [15]:
#Arbitary Arguments n value
def avg(*num):
    sum=0
    for i in num:
        sum=sum+i
        print("Average:", sum/len(num))
avg(10,10)

Average: 5.0
Average: 10.0

In [18]:
def calculate_grade(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 80:
        return 'B'
    elif marks >= 70:
        return 'C'
    elif marks >= 60:
        return 'D'
    else:
        return 'F'
        print("your Grade is ", marks)
marks=float(input("enter your number"))
calculate_grade(marks)

enter your number 83

'B'

In [20]:
#decorator example
def my_decorator(func):
    def wrapper():
        print("something is happening before the funtion is called.")
        func()
        print("something is happening before the funtion is called.")
    return wrapper
@my_decorator
def say_hello():
    print("Hello!")
say_hello()

something is happening before the funtion is called.
Hello!
something is happening before the funtion is called.

In [30]:
def measure_time(func):
    import time
    def wrapper(*args, **kwargs):
        start_time=time.time()
        result=func(*args, **kwargs)
        end_time=time.time()
        print(f"execution time of {func.__name__}:{end_time-start_time} seconds")
        return result
    return wrapper
@measure_time
def slow_function(n):
    total=0
    for i in range(n):
        total+=i
    return total
result= slow_function(1000000)
print("Result:",result)

execution time of slow_function:0.12267088890075684 seconds
Result: 499999500000

In [26]:
def measure_time(func):
    import time
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Execution time of {func.__name__}: {end_time - start_time} seconds")
        return result
    return wrapper
@measure_time
def slow_function(n):
    total = 0
    for i in range(n):
        total += i
    return total
result = slow_function(1000000)
print("Result:", result)

Execution time of slow_function: 0.15159249305725098 seconds
Result: 499999500000

In [1]:
#file I/O
f=open("filename","mode")#mode show action on file i.e reading writing etc
data=f.read()
f.close()

ValueError: invalid mode: 'mode'

In [11]:
#create file in anywhere in laptop
#create a test file
#click up and type cmd on beggning of file address 
f=open("first_file.txt","r")
data=f.read(10)
f.close()
print(data)

my name is

In [8]:
f=open("first_file.txt","r")
data=f.read()
f.close()
print(data)

my name is taqi haider
i enroll in AI in corvit instituite
i complete my bs in cs from university of ajk

In [14]:
f=open("first_file.txt","r")
line1=f.readline()
print(line1)

my name is taqi haider

In [28]:
f=open("first_file.txt","r")
line=f.readline()
for i in range(5):
 print(line)

my name is
my name is
my name is
my name is
my name is

In [30]:
#full file will be overwrite
f=open("first_file.txt","w")
f.write("Any question!")
f.close()

In [31]:
f=open("first_file.txt","r")
data=f.read()
f.close()
print(data)

Any question!

In [36]:
# write text in new line in the file
f=open("first_file.txt","a")
f.write("welcome to the new document I am here to serve you")
f.close()

In [34]:
f=open("first_file.txt","r")
data=f.read()
f.close()
print(data)

Any question!welcome to the new document I am here to serve youwelcome to the new document I am here to serve you

In [37]:
f=open("first_file.txt","a")
f.write("hello welcome to the new document I am here to serve you")
f.close()

In [38]:
f=open("first_file.txt","a")
f.write("hello welcome to the new document I am here to serve you \n this is a new line inside document")
f.close()

In [39]:
f=open("first_file.txt","r")
data=f.read()
f.close()
print(data)

Any question!welcome to the new document I am here to serve youwelcome to the new document I am here to serve you
 welcome to the new document I am here to serve youwelcome to the new document I am here to serve youhello welcome to the new document I am here to serve youhello welcome to the new document I am here to serve you
 this is a new line inside document

In [42]:
f=open("first_file.txt","+w")
f.write("this is a code")
f.close()
print(data)

Any question!welcome to the new document I am here to serve youwelcome to the new document I am here to serve you
 welcome to the new document I am here to serve youwelcome to the new document I am here to serve youhello welcome to the new document I am here to serve youhello welcome to the new document I am here to serve you
 this is a new line inside document

In [44]:
f=open("first_file.txt","+w")
f.write("this is a code")
f.close()

In [46]:
f=open("first_file.txt","+a")
f.write("\n this is a code")
f.close()

In [51]:
with open("first_file.txt","w")as f:
 data=f.write("i am a student")

In [53]:
with open("first_file.txt","r")as f:
 data=f.read()
print(data)

i am a student

In [54]:
#deleting file
import os 
os.remove("first_file.txt")

In [67]:
#search and replaced
with open("practice.txt","r")as f:
    data=f.read()
    print(data)
search_text="java"
replaced_text="python"
with open('practice.txt', 'r') as f:
    data = f.read()
data = data.replace(search_text, replaced_text)
with open('practice.txt', 'w') as f:
    f.write(data)
    print("Text replaced")

hi everyone
I am the AI,Machine Learning and deep learning trainer.
I use tha python language for my projects.
I like programming in python.
Text replaced

In [2]:
with open("practice.txt","w") as f:
    f.write("Hi everyone.\n I am the AI Machine learning and deep learning student")
    f.write("I use the java language for my project.\n like programming in java")
with open("practice.txt","r") as f:
    data=f.read()
new_data= data.replace("java","Python")
print(new_data)
word="projects"
with open("practice.txt", "r")as f:
    data=f.read()
    print(data)
    if(data.find(word)!=-1):
        print("found")
    else:
        print("not found")

Hi everyone.
 I am the AI Machine learning and deep learning studentI use the Python language for my project.
 like programming in Python
Hi everyone.
 I am the AI Machine learning and deep learning studentI use the java language for my project.
 like programming in java
not found

In [6]:
#class creation
class details:         # syntax class,classname
    name="taqi"
    height=5.6       # class attributes
    age=29
#object creation
obj1=details()
print(obj1.name)
print(obj1.height)
print(obj1.age)
obj2=details()
print(obj2.height)

taqi
5.6
29
5.6

In [14]:
class Personal:
    def __init__(self):
        self.name = input("Enter your name: ")
        self.height = float(input("Enter your height: "))
        self.age = int(input("Enter your age: "))
        self.qualification = input("Enter your qualification: ")
        self.gender_value = input("Enter your gender (male/female): ")

    def gender(self):
        if self.gender_value.lower() == "male":
            print("Male")
        else:
            print("Female")

obj1 = Personal()
print(obj1.age)
obj1.gender()
print(obj1.qualification)

Enter your name:  taqi
Enter your height:  5.6
Enter your age:  29
Enter your qualification:  bscs
Enter your gender (male/female):  male

29
Male
bscs

In [16]:
class Data():
    name="Ali"
    Qual="BS"
    Occupation="trainer"
A= Data()
A.name="hassan"
A.Qual="vela"
print(A.name,A.Qual)
B=Data()
print(B.name)
print(B.Qual)

hassan vela
Ali
BS

In [21]:
class personal_1():
    age=45
A=personal_1()
print(obj1.name)

taqi